<div *ngIf="(targetFacet$ | async) != null">
    <div class="card border-0">
        <h5 class="card-header bg-primary text-white">{{ 'explore.facet-focus-section.' + targetFacet.name + '.title' | translate }}</h5>
        <div class="border border-gray-100">
            <div *ngFor="let facetValue of targetFacet._embedded.values; let last = last"
                class="facet-value d-flex justify-content-between align-items-center px-3 py-2 w-100"
                [class.border-bottom]="!last"
                (click)="navigateToFacetView(targetFacet, facetValue)">
                <span>
                    {{ facetValue.label }}
                </span>
                <span class="badge badge-pill badge-primary px-2 py-1 d-inline-flex align-items-center justify-content-start">
                    {{ facetValue.count }}
                </span>
            </div>
        </div>
    </div>
</div>