<footer class="text-lg-start position-relative">
    <div class="d-flex justify-content-center text-white foreground">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <a href="https://www.uclouvain.be">
                        <img src="assets/uclouvain/images/logo-uclouvain-2.png"
                             alt="UCLouvain"
                             style="max-width: 200px;"
                        />
                    </a>
                </div>
                <div class="col-12 col-lg-3 small text-lg-left">
                    <div class="text-uppercase mb-3 list-title">
                        {{ 'Quick links' | translate }}
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-white" href="javascript:void(0);"
                               (click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>
                        </li>
                        <li *ngIf="showPrivacyPolicy">
                            <a class="text-white"
                               routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
                        </li>
                        <li *ngIf="showEndUserAgreement">
                            <a class="text-white"
                               routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
                        </li>
                        <li>
                            <a class="text-white"
                               routerLink="info/copyright-policy">{{ 'footer.link.copyright-policy' | translate }}</a>
                        </li>
                        <li *ngIf="remoteAccess.enabled">
                            <a class="text-white" [href]="remoteAccess.url">
                                {{ 'footer.link.remote-access' | translate }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3 small text-lg-left">
                    <div class="text-uppercase mb-3 list-title">
                        {{ 'footer.menu.informations' | translate }}
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-white" [href]="'https://www.uclouvain.be/en/university-libraries/open-access'">{{ 'footer.link.what-is-open-access' | translate}}</a>
                        </li>
                        <li>
                            <a class="text-white" [href]="'https://www.uclouvain.be/en/university-libraries/rights-and-requirements'">{{ 'footer.link.rights-and-obligations' | translate}}</a>
                        </li>
                        <li>
                            <a class="text-white" [href]="'https://oer.uclouvain.be/jspui/bitstream/20.500.12279/889.2/8/Flyer_Creative%20Commons%20_cl%c3%a9s%20en%20main_v2.pdf'">{{ 'footer.link.cc-licence' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3 small text-lg-left">
                    <div class="text-uppercase mb-3 list-title">
                        {{ 'footer.menu.help' | translate }}
                    </div>
                    <ul class="list-unstyled">
                        <li *ngIf="showSendFeedback$ | async">
                            <a class="text-white"
                               routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
                        </li>
                        <li>
                            <a class="text-white" [href]="'https://dial.uclouvain.be/osTicket'">{{ 'footer.link.osticket' | translate}}</a>
                        </li>
                        <li>
                            <a class="text-white" [href]="'<TO_BE_DEFINED>'">{{ 'footer.link.faq' | translate}}</a>
                        </li>
                        <li>
                            <a class="text-white" [href]="'https://www.uclouvain.be/fr/bibliotheques/guides-et-tutoriels'">{{ 'footer.link.support-guides' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="align-self-end version-container" [hidden]="!isAdmin">
            <div class="d-flex justify-content-end align-items-center mb-2">
                <i class="fa-solid fa-laptop-code"></i>
                <label>frontend</label>
                <span>bip{{ frontendVersion | async }}</span>
            </div>
            <div class="d-flex justify-content-end align-items-center mb-2">
                <i class="fa-solid fa-code"></i>
                <label>backend</label>
                <span>bop{{ backendVersion | async }}</span>
            </div>
        </div>
    </div>
    <picture class="background-image">
        <img alt="footer background" [src]="'assets/uclouvain/images/footer-background.webp'">
    </picture>
</footer>
  