.chip-content {
  display: flex;
  align-items: center;

  p {
    margin: 0;

    small.additional-info {
      display: block;
      text-align: right;
      font-size: 0.7rem;
      font-style: italic;
      color: $gray-500;
    }
  }
}

.chip-selected {
  background-color: var(--bs-secondary) !important;
}

.chip-label {
  max-width: 10rem;
}

.chip-stacked-icons {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.chip-stacked-icon {
  position: absolute;
  top: 0.5rem;
  left: 0.4rem;
  font-size: 0.8rem;
  color: white !important;
}
