<div class="file-section d-flex my-1 p-2">
    <div class="row flex-grow-1">
        <div class="col-2" *ngIf="showThumbnail">
            <ds-themed-thumbnail [thumbnail]="(bitstream.thumbnail | async)?.payload"></ds-themed-thumbnail>
        </div>
        <div class="col d-flex flex-column">
            <div class="flex-grow-1">
                <div>
                    <h5 class="d-inline">{{dsoNameService.getName(bitstream)}}</h5>
                    <i *ngIf="showDescription && bitstream.hasMetadata('dc.description')"
                       class="fas fa-info-circle text-info ml-2"
                       (click)="hideDescription=!hideDescription"></i>
                </div>
                <p *ngIf="showDescription && bitstream.hasMetadata('dc.description')" [hidden]="hideDescription">
                    {{bitstream.firstMetadataValue("dc.description")}}
                </p>
            </div>
            <ul class="list-inline list-inline-with-divider m-0 small">
                <li *ngIf="accessConditions">
                    <ds-access-conditions *ngIf="policyView === 'allPolicies'"
                                          [accessConditions]="accessConditions.policies">
                    </ds-access-conditions>
                    <ds-access-conditions *ngIf="policyView === 'masterPolicy'"
                                          [accessConditions]="[accessConditions.masterPolicy]">
                    </ds-access-conditions>
                </li>
                <li>{{(bitstream.format | async)?.payload?.shortDescription}}</li>
                <li>{{(bitstream.sizeBytes) | dsFileSize }}</li>
                <li *ngIf="bitstream.firstMetadataValue('dc.rights.license') as licenseUri">
                    <ds-cc-licence [licenseUri]="licenseUri" [height]="16"></ds-cc-licence>
                </li>
            </ul>
        </div>
    </div>
    <div class="ml-auto align-content-center">
        <ds-themed-file-download-link
                *ngIf="!hasNoDownload()"
                [bitstream]="bitstream"
                [item]="item"
                [cssClasses]="'btn btn-primary'"
                [showIcon]="true"
        ></ds-themed-file-download-link>
    </div>
</div>