<ds-metadata-field-wrapper [label]="label | translate">
  <ng-container *ngVar="(originals$ | async)?.payload as originals">
    <ng-container *ngIf="hasValuesInBundle(originals)">
      <h5 class="simple-view-element-header">{{"item.page.filesection.original.bundle" | translate}}</h5>
      <ds-pagination *ngIf="originals?.page?.length > 0"
        [hideGear]="true"
        [hidePagerWhenSinglePage]="true"
        [paginationOptions]="originalOptions"
        [collectionSize]="originals?.totalElements"
        [retainScrollPosition]="true">
        <ng-container *ngFor="let file of originals?.page; let isFirst = first">
          <ds-upload-file-description [bitstream]="file" [item]="item"></ds-upload-file-description>
        </ng-container>
      </ds-pagination>
    </ng-container>
  </ng-container>
</ds-metadata-field-wrapper>