<div class="background-image-container mt-ncs bg-blue">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <ds-themed-text-section
              *ngIf="hasHomeNewsMetadata; else dsDefaultHomeNews"
              [sectionId]="'site'"
              [textRowSection]="homeNewsSection"
              [site]="(site$ | async)">
      </ds-themed-text-section>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/jpg" srcset="assets/uclouvain/images/banner.png">
    <img alt="" [src]="'assets/uclouvain/images/banner.png'"/>
    <!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>

<ng-template #dsDefaultHomeNews>
  <div class="d-flex flex-wrap justify-content-center main-head">
    <div>
      <h1 class="display-3">{{ 'home-news.main-title' | translate }}</h1>
      <h3 class="text-center mb-3">{{ 'home-news.second-title' | translate }}</h3>
    </div>
  </div>

  <div class="mx-5">
    <ds-themed-search-form
    [inPlaceSearch]="false"
    [searchPlaceholder]="'search.search-form.placeholder' | translate"
    [showScopeSelector]="true"/>
  </div>
</ng-template>
