<div #sdRef="ngbDropdown" ngbDropdown display="dynamic" placement="bottom-right" class="w-100">
    <div class="position-relative right-addon"
        role="combobox"
        [attr.aria-label]="model.label"
        [attr.aria-owns]="'combobox_' + id + '_listbox'">
        <i *ngIf="!model.readOnly"
           ngbDropdownToggle
           class="position-absolute scrollable-dropdown-toggle"
           aria-hidden="true"></i>
        <i *ngIf="model.readOnly"
           class="dropdown-toggle position-absolute toggle-icon"
           aria-hidden="true"></i>
        <input class="form-control"
            [attr.aria-controls]="'combobox_' + id + '_listbox'"
            [attr.aria-activedescendant]="'combobox_' + id + '_selected'"
            [attr.aria-label]="model.placeholder"
            [class.is-invalid]="showErrorMessages"
            [class.scrollable-dropdown-input]="!model.readOnly"
            [id]="id"
            [name]="model.name"
            [readonly]="true"
            [disabled]="model.readOnly"
            [type]="model.inputType"
            [value]="(currentValue | async)"
            [placeholder]="model.label"
            (blur)="onBlur($event)"
            (click)="$event.stopPropagation(); openDropdown(sdRef);"
            (focus)="onFocus($event)"
            (keydown)="selectOnKeyDown($event, sdRef)">
    </div>
    <div ngbDropdownMenu
       class="dropdown-menu scrollable-dropdown-menu w-100 p-0"
       aria-haspopup="true"
       aria-expanded="false"
       [attr.aria-label]="model.placeholder">
        <div class="scrollable-menu"
            role="listbox"
            [id]="'combobox_' + id + '_listbox'"
            [attr.aria-label]="model.placeholder">
            <button *ngIf="optionsList && optionsList.length == 0"
                    class="dropdown-item disabled p-2">
                {{ 'form.no-results' | translate }}
            </button>
            <button *ngFor="let listEntry of optionsList"
                    class="dropdown-item collection-item text-truncate p-2"
                    title="{{ listEntry.display }}"
                    role="option"
                    (keydown.enter)="onSelect(listEntry); sdRef.close()"
                    (mousedown)="onSelect(listEntry); sdRef.close()"
                    [attr.id]="listEntry.display == (currentValue|async) ? ('combobox_' + id + '_selected') : null">
                {{ inputFormatter(listEntry) }}
            </button>
        </div>
    </div>
</div>