html {
  font-size: 15px;
}

:root {
  --uclouvain-publication-title-font: 'Nunito', sans-serif;
  --uclouvain-publication-title-color: #{$gray-800};
  --search-form-spacing: .6rem;
  --search-form-background-opacity: .35;
  --search-form-btn-color: #{$gray-700};
  --search-form-highlight-input-border-color: #{$gray-200};
}

ul.list-inline-with-divider {
  li{
    display: inline-block;
    &:not(:last-child):after{
      content: '|';
      margin: 0 1rem;
    }
  }
}