html {
  font-size: 15px;
}

:root {
  --ds-thumbnail-min-width: 150px;
}

// Faculty colors
.text-faculty-mede { color: #88005d; }
.text-faculty-fasb { color: #88005d; }
.text-faculty-fsp { color: #88005d; }
.text-faculty-fsm { color: #88005d; }
.text-faculty-teco { color: #b50030; }
.text-faculty-drt { color: #e20026; }
.text-faculty-psp { color: #e06c08; }
.text-faculty-fial { color: #f29400; }
.text-faculty-lsm { color: #90810d; }
.text-faculty-epl { color: #4a96cd; }
.text-faculty-sc { color: #004e9c; }
.text-faculty-agro { color: #008193; }
.text-faculty-espo { color: #76ad1c; }
.text-faculty-loci { color: #9a969a; }

.badge-faculty-mede { background-color: #88005d; color: $white; }
.badge-faculty-fasb { background-color: #88005d; color: $white; }
.badge-faculty-fsp { background-color: #88005d; color: $white; }
.badge-faculty-fsm { background-color: #88005d; color: $white; }
.badge-faculty-teco { background-color: #b50030; color: $white; }
.badge-faculty-drt { background-color: #e20026; color: $white; }
.badge-faculty-psp { background-color: #e06c08; color: $white; }
.badge-faculty-fial { background-color: #f29400; color: $white; }
.badge-faculty-lsm { background-color: #90810d; color: $white; }
.badge-faculty-epl { background-color: #4a96cd; color: $white; }
.badge-faculty-sc { background-color: #004e9c; color: $white; }
.badge-faculty-agro { background-color: #008193; color: $white; }
.badge-faculty-espo { background-color: #76ad1c; color: $white; }
.badge-faculty-loci { background-color: #9a969a; color: $white; }




ul.list-inline-with-divider {
  li{
    display: inline-block;
    &:not(:last-child):after{
      content: '|';
      margin: 0 1rem;
    }
  }
}