nav.navbar {
  align-items: baseline;
  .navbar-inner-container {
    border-top: 0;
  }
}

.navbar-nav {
  background-color: var(--ds-navbar-bg);
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
  .navbar {
    width: 100vw;
    background-color: var(--bs-white);
    position: absolute;
    overflow: hidden;
    height: 0;
    z-index: var(--ds-nav-z-index);
    &.open {
      height: 100vh; //doesn't matter because wrapper is sticky
      border-bottom: 5px var(--ds-header-navbar-border-bottom-color) solid; // open navbar covers header-navbar-wrapper border
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .reset-padding-md {
    margin-left: calc(var(--bs-spacer) / -2);
    margin-right: calc(var(--bs-spacer) / -2);
  }
}

/* TODO remove when https://github.com/twbs/bootstrap/issues/24726 is fixed */
.navbar-expand-md.navbar-container {
  @media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
    > .navbar-inner-container {
      padding: 0 var(--bs-spacer);
      a.navbar-brand {
        display: none;
      }
      .navbar-collapsed {
        display: none;
      }
    }
    padding: 0;
  }
}

a.navbar-brand {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Nunito, sans-serif;
  padding: .5rem 1rem;
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

a.navbar-brand:hover {
  color: var(--bs-white);
}

a.navbar-brand:focus {
  color: var(--bs-white);
}

// a.navbar-brand img {
//   max-height: var(--ds-header-logo-height);
//   height: 80%;
//   width: auto;
// }

.navbar-nav {
  ::ng-deep a.nav-link {
    color: var(--ds-navbar-link-color);
    font-weight: 500;
    font-size: 1.3rem;
    font-family: "Nunito", sans-serif;
    position: relative;
    padding: 0.05rem 0 0;
    margin: 0.5rem 1rem;
    font-variant: all-small-caps;

    &:hover, &:focus {
      color: var(--ds-navbar-link-color-hover);
    }
  }
}
