<div class="file-panel container-fluid border rounded shadow-sm mb-2 p-2">
    <div class="row">
        <div class="col d-flex">
            <img [src]="getFileIcon()" [alt]="fileName" style="max-height:100px"/>
            <div class="ml-2 d-flex flex-column">
                <dl class="container row">
                    <dt class="col-4 col-lg-3">{{ 'submission.sections.upload.field.filename.label' | translate }}</dt>
                    <dd class="col-8 col-lg-9">{{ fileName }}</dd>
                    <ng-container *ngIf="fileAccess">
                        <dt class="col-4 col-lg-3">{{ 'submission.sections.upload.field.accessType.label' | translate }}</dt>
                        <dd class="col-8 col-lg-9"><ds-access-conditions [accessConditions]="fileAccess"></ds-access-conditions></dd>
                    </ng-container>
                    <dt class="col-4 col-lg-3">{{ 'submission.sections.upload.field.fileSize.label' | translate }}</dt>
                    <dd class="col-8 col-lg-9">{{ fileData?.sizeBytes | dsFileSize }}</dd>
                    <ng-container *ngIf="isNotEmpty(fileLicense)">
                        <dt class="col-4 col-lg-3">{{ 'submission.sections.upload.field.ccLicense.label' | translate }}</dt>
                        <dd class="col-8 col-lg-9"><ds-cc-license [licenseUri]="fileLicense" [height]="16"></ds-cc-license></dd>
                    </ng-container>
                    <ng-container *ngIf="metadata[fileDescriptionKey] && isNotEmpty(metadata[fileDescriptionKey])">
                        <dt class="col-4 col-lg-3">{{ 'submission.sections.upload.field.description.label' | translate }}</dt>
                        <dd class="col-8 col-lg-9" [innerHTML]="metadata[fileDescriptionKey]"></dd>
                    </ng-container>
                </dl>
            </div>
        </div>
        <div class="col-sm-6 col-4 text-right">
            <ng-container *ngIf="!readOnly">
                <ng-container *ngTemplateOutlet="action_buttons"></ng-container>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #action_buttons>
    <button class="btn btn-primary mr-1"
            [attr.aria-label]="'submission.sections.upload.edit.title' | translate"
            title="{{ 'submission.sections.upload.edit.title' | translate }}"
            (click)="$event.preventDefault();editBitstreamData();">
        <i class="fa fa-edit text-normal"></i>
        {{ 'submission.sections.upload.edit.title' | translate }}
    </button>
    <ds-themed-file-download-link
            [cssClasses]="'btn btn-success mr-1'"
            [isBlank]="true"
            [bitstream]="getBitstream()"
            [enableRequestACopy]="false">
        <i class="fa fa-download" aria-hidden="true"></i>
    </ds-themed-file-download-link>
    <button class="btn btn-danger"
            [attr.aria-label]="'submission.sections.upload.delete.confirm.title' | translate"
            title="{{ 'submission.sections.upload.delete.confirm.title' | translate }}"
            [disabled]="(processingDelete$ | async)"
            (click)="$event.preventDefault(); confirmDelete(content);">
        <i *ngIf="(processingDelete$ | async)" class="fas fa-circle-notch fa-spin"></i>
        <i *ngIf="!(processingDelete$ | async)" class="fa fa-trash"></i>
        {{ 'submission.sections.upload.delete.confirm.title' | translate }}
    </button>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title text-danger">{{ 'submission.sections.upload.delete.confirm.title' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>{{ 'submission.sections.upload.delete.confirm.info' | translate }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('cancel')">
            {{ 'submission.sections.upload.delete.confirm.cancel' | translate }}
        </button>
        <button type="button" class="btn btn-danger" (click)="c('ok')">
            {{ 'submission.sections.upload.delete.confirm.submit' | translate }}
        </button>
    </div>
</ng-template>
