@import "bootstrap";

.action-list {
    @extend .d-flex;
    @extend .align-items-center;
    * {
        height: 100%;  
    }
    .fa {
        font-size: 1.2rem;
    }
}

.action-btn {
    font-size: 1.2rem;
}

.flex-grow {
    flex-grow: 1;
}