:host {
  .file-panel {
    background-color: var(--bs-light);
    transition: background-color .5s ease;

    &:hover {
      transition: background-color .75s ease;
      background-color: var(--bs-gray-200);
    }

    dt, dd { float: left }
    dt { clear:both }

    .primary-tag {
      position: absolute;
      top: -0.35rem;
      left: 1.25rem;
      color: var(--yellow);
      text-shadow: 0 0 5px var(--yellow);
    }
  }
}