<!-- CONTEXT MENU ========================================================= -->
<div class="d-flex">
    <ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
    <ds-context-menu [contextMenuObject]="object" [contextMenuObjectType]="DspaceObjectType.ITEM" class="ml-auto"></ds-context-menu>
</div>

<div class="row mt-3 mb-5">
    <article class="col-9">
        <!-- HEADER :: Thumbnail + title, authors, date -->
        <div class="clearfix pb-3 d-flex header">
            <div class="pb-2 pr-3 thumbnail-or-media">
                <ds-metadata-field-wrapper *ngIf="!(mediaViewer.image || mediaViewer.video)" [hideIfNoTextContent]="false">
                    <ds-themed-thumbnail [thumbnail]="object?.thumbnail | async"></ds-themed-thumbnail>
                </ds-metadata-field-wrapper>
                <div *ngIf="mediaViewer.image || mediaViewer.video" class="mb-2">
                    <ds-themed-media-viewer [item]="object"></ds-themed-media-viewer>
                </div>
            </div>
            <div class="flex-grow-1">
                <ds-themed-item-page-title-field [item]="object"></ds-themed-item-page-title-field>
                <ds-generic-item-page-field [item]="object" [fields]="['dc.contributor.author']" [separator]="' ; '"></ds-generic-item-page-field>
                <span *ngIf="dsoDate">({{ dsoDate }})</span>
            </div>
        </div>
        <!-- DOWNLOADS -->
        <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>
        <!-- MAIN METADATA -->
        <h2 class="mt-4 simple-view-element-header">{{ "item.page.details.label" | translate }}</h2>
        <dl>
            <ng-container *ngIf="object.hasMetadata('dc.contributor.advisor')">
                <dt>{{ "item.page.promoter" | translate }}</dt>
                <dd><ds-generic-item-page-field
                    [item]="object"
                    [fields]="['dc.contributor.advisor']"
                    [separator]="' ; '">
                </ds-generic-item-page-field></dd>
            </ng-container>
            <ng-container *ngIf="object.hasMetadata('masterthesis.faculty.name')">
                <dt>{{ "item.page.faculty" | translate }}</dt>
                <dd>
                    <ds-generic-item-page-field
                            [item]="object"
                            [fields]="['masterthesis.faculty.name']">
                    </ds-generic-item-page-field>
                </dd>
            </ng-container>
            <ng-container *ngIf="object.hasMetadata('masterthesis.degree.label')">
                <dt>{{ "item.page.degree-label" | translate }}</dt>
                <dd>
                    <ds-generic-item-page-field
                            [item]="object"
                            [fields]="['masterthesis.degree.label']">
                    </ds-generic-item-page-field>
                </dd>
            </ng-container>
            <ng-container *ngIf="object.hasMetadata('dc.description.abstract')">
                <dt>{{ "item.page.abstract" | translate }}</dt>
                <dd><ds-generic-item-page-field
                    [item]="object"
                    [fields]="['dc.description.abstract']"
                    [separator]="'<div class=&quot;my-3&quot;></div>'">
                </ds-generic-item-page-field></dd>
            </ng-container>
        </dl>
        <!-- CITATION -->
    </article>
    <!-- METADATA SIDEBAR -->
    <aside class="additional-metadata col-3 p-3">
        <dl class="d-flex flex-column" style="height: 100%">
            <dt>{{ "item.page.uri" | translate }}</dt>
            <dd><ds-metadata-uri-values [mdValues]="object?.allMetadata(['dc.identifier.uri'])" [separator]="' ; '"></ds-metadata-uri-values></dd>
            <ng-container *ngIf="object.hasMetadata('masterthesis.faculty.code')">
                <dt>{{ "item.page.faculty" | translate }}</dt>
                <dd><ds-master-thesis-faculty-badges [object]="object"></ds-master-thesis-faculty-badges></dd>
            </ng-container>
            <dt>{{ "item.page.date" | translate }}</dt>
            <dd>{{ dsoDate }}</dd>
            <dt>{{ "item.page.subject" | translate }}</dt>
            <dd><ds-tag-item-page-field [item]="object" [fields]="['dc.subject']"></ds-tag-item-page-field></dd>
            <!-- <ng-container *ngIf="object.hasMetadata('dc.type')">
                <dt>{{ "item.page.document-type" | translate }}</dt>
                <dd *ngFor="let docType of object?.allMetadata('dc.type')">
                    {{ docType.value | translate }}
                </dd>
            </ng-container> -->
            <ng-container *ngIf="object.firstMetadataValue('dc.language.iso-639-2') as language">
                <dt>{{ "item.page.language" | translate }}</dt>
                <dd>{{ "languages.iso-639-2."+language | translate }}</dd>
            </ng-container>
            <dt class="flex-grow-1 align-content-end mt-4">{{ "item.page.created" | translate }}</dt>
            <dd>{{ object.firstMetadataValue('dc.date.available') | date:dateFormat }}</dd>
            <dt>{{ "item.page.updated" | translate }}</dt>
            <dd>{{ object.lastModified | date:dateFormat }}</dd>
        </dl>
    </aside>
</div>