<div class="modal-header">
  <h2>{{'submission.import-external.preview.title.' + labelPrefix | translate}}</h2>
  <button type="button" class="close"
          (click)="closeMetadataModal()" aria-label="Close">
      <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>{{'submission.import-external.preview.subtitle' | translate}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row" *ngIf="authorList.length > 0">
      <div class="col-md-12">
        <strong>{{'item.preview.dc.contributor.author' | translate}}</strong>
        <ul class="list-unstyled">
          <li *ngFor="let author of authorList">
            <ng-container *ngTemplateOutlet="authorTmpl; context: { author: author }"></ng-container>
          </li>
        </ul>
      </div>
    </div>
    <div *ngFor="let metadata of metadataList" class="row">
      <div class="col-md-12">
        <strong>{{'item.preview.' + metadata.key | translate}}</strong>
        <div *ngIf="metadata.key === 'dc.description.abstract'" data-test="abstract" class="mb-2">
          <ng-container *ngFor="let metadatum of metadata.values">
            <ds-truncatable [id]="metadata.key">
              <ds-truncatable-part [id]="metadata.key" [minLines]="3">
                <p>{{metadatum.value}}</p>
              </ds-truncatable-part>
            </ds-truncatable>
          </ng-container>
        </div>
        <p *ngIf="metadata.key == 'dc.type.maintype'">
          <ng-container *ngFor="let metadatum of metadata.values">
            <span>{{ 'item.page.details.values.type.' + metadatum.value | translate }}</span><br>
          </ng-container>
        </p>
        <p *ngIf="metadata.key !== 'dc.description.abstract' && metadata.key !== 'dc.type.maintype'">
          <ng-container *ngFor="let metadatum of metadata.values">
            <span>{{metadatum.value}}</span><br>
          </ng-container>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="row"></div>
  <div class="col-md-12 text-right">
    <button class="btn btn-success" (click)="import()" role="button">
      <i class="fa fa-file-import" aria-hidden="true"></i> {{'submission.import-external.preview.button.import' | translate}}
    </button>
  </div>
</div>

<ng-template #authorTmpl let-author="author">
    <span class="author-name">{{ author.name }}</span>
    <i class="fa-brands fa-orcid text-success ml-2" *ngIf="author.orcid" [title]="author.orcid"></i>
    <span class="author-institution ml-2" *ngIf="author.institution">{{ author.institution }}</span>
    <span class="author-email ml-2" *ngIf="author.email">{{ author.email }}</span>
</ng-template>