a {
    color: var(--bs-body-color);
    &:hover, &:focus {
        text-decoration: none;
    }
    span.badge {
        vertical-align: text-top;
    }

    label {
        cursor: pointer;
        transition: 0.1s ease;
    }

    small {
        font-size: var(--ds-facet-font-size);
    }

    label:hover {
        color: var(--blue);
    }
}

.break-facet {
    word-break: break-word;
}

.filter-checkbox {
    height: fit-content;
}
