<div class="container-fluid" #wrapperElement>
    <div *ngIf="(isLoading() | async) !== true" #submissionFormHeader class="submission-form-header mb-3 d-flex flex-wrap position-sticky">
        <!-- REMOVED FROM HEADER ; MOVED TO UPLOAD SECTION
        <div *ngIf="(uploadEnabled$ | async)" class="w-100">
            <ds-submission-upload-files [submissionId]="submissionId"
                                        [collectionId]="collectionId"
                                        [uploadFilesOptions]="uploadFilesOptions"></ds-submission-upload-files>
            <div class="clearfix"></div>
        </div>
        -->

        <div class="submission-form-header-item mb-3 mb-sm-0 flex-sm-grow-1 flex-md-grow-0">
          <ng-container *ngIf="!isSectionHidden">
            <ds-submission-form-collection [currentCollectionId]="collectionId"
                                           [currentDefinition]="definitionId"
                                           [entityType]="entityType"
                                           [submissionId]="submissionId"
                                           [collectionModifiable]="collectionModifiable"
                                           [isReadonly]="isSectionReadonly"
                                           (collectionChange)="onCollectionChange($event)">
            </ds-submission-form-collection>
          </ng-container>
        </div>
        <div class="submission-form-header-item text-right">
            <ds-submission-form-section-add [collectionId]="collectionId"
                                            [submissionId]="submissionId">
            </ds-submission-form-section-add>
        </div>
    </div>

    <ds-alert [content]="'submission.header.information'"
              [dismissible]="false"
              [type]="AlertTypeEnum.Info"></ds-alert>

    <div *ngIf="(isLoading() | async) !== true" class="row no-gutters">
        <div *ngIf="showShortcutSectionPanel()" #shortcutPanel class="col-2 position-sticky h-100 mr-2">
            <ds-submission-section-shortcut *ngFor="let section of $any(submissionSections | async)"
                                            [submissionId]="submissionId"
                                            [sectionData]="section"
                                            [headerComponent]="submissionFormHeader">
            </ds-submission-section-shortcut>
        </div>

        <div class="col submission-form-content">
            <ds-loading *ngIf="(isLoading() | async)" message="Loading..."></ds-loading>
            <ng-container *ngFor="let object of (submissionSections | async)">
                <ds-submission-section-container [id]="object.header"
                                                 [collectionId]="collectionId"
                                                 [submissionId]="submissionId"
                                                 [entityType]="entityType"
                                                 [sectionData]="$any(object)">
                </ds-submission-section-container>
            </ng-container>
        </div>
    </div>
    <div *ngIf="(isLoading() | async) !== true" class="submission-form-footer mt-3 mb-3 position-sticky">
        <ds-submission-form-footer [submissionId]="submissionId"></ds-submission-form-footer>
    </div>
</div>

