<div class="d-flex align-items-center relation-group">
  <div class="d-flex">
    <ds-loading *ngIf="!chips" [showMessage]="false"></ds-loading>
    <div *ngIf="chips && !chips.hasItems()"
         (click)="openModal()"
         class="d-flex align-items-center text-muted my-1 mr-2">
        {{'form.no-value' | translate}}
    </div>
    <ds-chips
      *ngIf="chips && chips.hasItems()"
      [chips]="chips"
      [editable]="!model.readOnly"
      [showIcons]="true"
      [chipWrapperClass]="'my-0'"
      (selected)="onChipSelected($event)"></ds-chips>
    <button type="button" class="ds-form-add-more btn btn-success"
            title="{{'form.add' | translate}}"
            [dsBtnDisabled]="model.readOnly"
            (click)="openModal()">
      <span attr.aria-label="{{'form.add' | translate}}"><i class="fas fa-plus"></i> {{'form.add' | translate}}</span>
    </button>
  </div>
</div>