@import '../../../../styles/variables';
@import '../../../../styles/mixins';

:host ::ng-deep {
  ngx-skeleton-loader .skeleton-loader {
    height: var(--ds-filters-skeleton-height);
    margin-bottom: var(--ds-filters-skeleton-spacing);
    padding: var(--ds-filters-skeleton-spacing);
    background-color: var(--bs-light);
    box-shadow: none;
  }
}

.reset-filters-btn {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-top: 1px solid var(--bs-gray-200);
}
