.badge {
    font-size: 0.8rem;
    line-height: 1.5;
    background: none;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 2px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

.badge-validation {
    color: var(--bs-warning);
}

.badge-waiting-controller {
    color: var(--bs-info);
}

.badge-workspace {
    color: var(--bs-primary);
}

.badge-archived {
    color: darken($green, 10);
}

.badge-workflow {
    color: var(--bs-info);
}