<div class="container text-md pb-4 pt-3">
    <div class="main-header">
      <h1 class="px-4 py-1">
        {{ 'home-info.what-is' | translate }}
      </h1>
    </div>
    <div class="d-flex flex-wrap">
      <div>
        <p>
          {{ 'home-info.project-description' | translate }}
        </p>
      </div>
    </div>
    <p>
      {{ 'home-info.list-intro' | translate }}
    </p>
    <ul>
      <li>
        {{ 'home-info.list-advantage-1' | translate }}
      </li>
      <li>
        {{ 'home-info.list-advantage-2' | translate }}
      </li>
      <li>
        {{ 'home-info.list-advantage-3' | translate }}
      </li>
      <li>
        {{ 'home-info.list-advantage-4' | translate }}
      </li>
      <li>
        {{ 'home-info.list-advantage-5' | translate }}
      </li>
    </ul>
</div>