<div class="container py-4">
    <h2 class="text-center pb-3">{{ 'home-info.what-is' | translate }}</h2>
    <p class="text-justify">{{ 'home-info.project-description' | translate }}</p>
    <p class="text-justify">{{ 'home-info.list-intro' | translate }}</p>
    <ul>
      <li>{{ 'home-info.list-advantage-1' | translate }}</li>
      <li>{{ 'home-info.list-advantage-2' | translate }}</li>
      <li>{{ 'home-info.list-advantage-3' | translate }}</li>
      <li>{{ 'home-info.list-advantage-4' | translate }}</li>
      <li>{{ 'home-info.list-advantage-5' | translate }}</li>
    </ul>
</div>