<!-- TODO: Add an english translation & find a way to switch between the two -->
<div>
	<h1>{{ 'info.privacy.head' | translate }}</h1>
	<p><em>Dernière mise à jour le 03 octobre 2024</em></p>
	<h2>DIAL.mem - VISITEURS</h2>
	<p>DIAL.mem est le lieu de conservation de tous les travaux de fins d’études (ci-dessous « TFE ») électroniques de l’UCLouvain et de consultation des TFE électroniques dont à la fois l’auteur·e et l’institution ont choisi d’autoriser la diffusion à l’intérieur et/ou à l’extérieur de l’institution. Il constitue une partie du portail des ressources numériques des bibliothèques de l’UCLouvain « DIAL » (DIgital Access to Libraries).</p>
	<p>Dans le cadre de l’utilisation de DIAL.mem, certaines données à caractère personnel concernant des visiteurs du site sont collectées afin de constituer des statistiques de consultation, de téléchargement, de modifications et de la provenance des requêtes effectuées sur la plateforme Dial.mem pour les TFE qui y sont référencés.</p>
	<div>
		<p class="mb-1">Les données collectées sont les suivantes:</p>
		<ul>
			<li>Pour les utilisateurs non authentifiés : adresse IP, pages consultées</li>
			<li>Pour les utilisateurs authentifiés : adresse IP, pages consultées + adresse email, identifiant institutionnel (matricule FGS pour UCLouvain)</li>
		</ul>
	</div>
	<p>Ces données sont traitées conformément à la législation applicable en matière de droit à la vie privée, et plus particulièrement au Règlement général sur la protection des données et à la loi du 30 juillet 2018 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel.</p>
	<p>Par principe et sauf opposition expresse du visiteur (voir ci-dessous), ces données sont <strong>conservées pour une durée illimitée</strong>.</p>
	<p>Conformément à la législation applicable et sous réserve de conditions limitatives, les visiteurs disposent d’un droit d’accès, d’un droit de rectification, d’un droit à la limitation, d’un droit d’opposition, d’un droit à l’effacement et d’un droit de recours auprès de l’autorité de contrôle.</p>
	<p>Afin d’exercer leurs droits ou pour toute question relative à la protection de leurs données à caractère personnel, nous les invitons à nous contacter à l’adresse <a href="mailto:dial-admin@uclouvain.be">dial-admin@uclouvain.be</a> en étant le plus précis possible quant à l’objet de leur demande. Nous y répondrons dans les meilleurs délais.</p>
</div>

<div class="dropdown-divider my-2"></div>

<div>
	<h2>DIAL.mem – AUTEURS/DÉPOSANTS</h2>
	<p>DIAL.mem est le lieu de conservation de tous les travaux de fins d’études (ci-dessous « TFE ») électroniques de l’UCLouvain et de consultation des TFE électroniques dont l’auteur·e et l’institution ont l’un·e et l’autre choisi d’autoriser la diffusion à l’intérieur et/ou à l’extérieur de l’institution. Il constitue une partie du portail des ressources numériques des bibliothèques de l’UCLouvain « DIAL » (DIgital Access to Libraries).</p>
	<div>
		<p class="mb-1">Dans le cadre du dépôt du TFE dans DIAL.mem, certaines données à caractère personnel concernant les auteur·e·s peuvent être collectées par le biais de formulaires à remplir et cela, afin de garantir les services suivants:</p>
		<ul>
			<li>Permettre la recherche des TFE selon plusieurs critères (année de défense, faculté, programme d’étude, promoteurs, auteurs, sujets).</li>
			<li>Constituer une archive des copies d’examen qui satisfasse aux exigences légales.</li>
			<li>Rendre possible la consultation des travaux pour lesquels l’auteur·e et l’institution ont l’un·e et l’autre souhaité la diffusion.</li>
			<li>Faciliter la détection de plagiat dans les TFE déposés (plagiats du fait des auteur·e·s des TFE déposés).</li>
			<li>Faciliter la détection de ces TFE comme source de plagiat dans d’autres œuvres (du fait d’auteur·e·s internes ou externes à l’institution).</li>
			<li>Faciliter la gestion administrative des TFE (dépôt, transmission du texte et des annexes aux membres du jury, tri pour la diffusion).</li>
		</ul>
	</div>
	<div>
		<p class="mb-1">Ces données sont:</p>
		<ul>
			<li>Le nom de la personne qui réalise le dépôt, son identifiant institutionnel (matricule « FGS »), et la date à laquelle le dépôt a été réalisé</li>
			<li>Le nom de l’auteur·e, des éventuel·le·s co-auteur·es et des promoteurs·rices (nom de famille et prénom[s])</li>
			<li>L’adresse mail institutionnelle de l’auteur·e, des éventuel·le·s co-auteur·e·s et des promoteurs·rices</li>
			<li>Le ou les programme(s) d’études pour le(s)quel le TFE déposé est défendu et la ou les faculté(s) qui gère(nt) ce(s) programme(s)</li>
			<li>La session d’examen pour laquelle le TFE est déposé</li>
			<li>Le titre du TFE, un résumé, la langue de rédaction et un ou plusieurs mots-clés</li>
			<li>Le texte et les annexes du mémoire</li>
		</ul>
	</div>
	<p>Elles sont traitées conformément à la législation applicable en matière de droit à la vie privée, et plus particulièrement au Règlement général sur la protection des données et à la loi du 30 juillet 2018 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel.</p>
	<p>Par principe et sauf opposition expresse de l’auteur·e (voir ci-dessous), ces données sont conservées pour la durée nécessaire à l’exécution des finalités exposées ci-dessus.</p>
	<div>
		<p class="mb-1"><u>Avant la diplomation de l’auteur·e,</u></p>
		<ul>
			<li>les données descriptives sont rendues accessibles, via l’application interne DIAL.mem (accès restreint par authentification institutionnelle), aux seuls membres du personnel chargés par l’institution de la gestion administrative des TFE ;</li>
			<li>les données descriptives sont transmises aux membres du jury par mail et le ou les fichiers déposés sont communiqués aux membres du jury par lien URL privé.</li>
		</ul>
	</div>
	<div>
		<p class="mb-1"><u>Après la diplomation de l’auteur·e,</u></p>
		<ul>
			<li>la description bibliographique du TFE est consultable par tous les utilisateurs de la plateforme, sans besoin d’authentification préalable ;</li>
			<li>le texte du TFE et/ou les éventuelles annexes sont consultables selon les modalités déterminées par l’auteur·e d’une part et l’institution d’autre part (en cas de divergence dans le choix des deux parties, l’accès le plus restrictif l’emporte) :
			<ul>
				<li>Aucun accès</li>
				<li>Accès à toute personne connectée au réseau informatique fermé de l’institution (et éventuellement, dans le cas d’un programme interuniversitaire, au réseau fermé des institutions partenaires)</li>
				<li>Accès libre à toute personne identifiée ou non</li>
				<li>Accès libre après une période d’embargo durant laquelle aucun accès n’est autorisé, pas même depuis le réseau informatique fermé de l’institution.</li>
			</ul>
			</li>
		</ul>
	</div>
	<p>Une fois rendues publiques, les données (à l’exception des fichiers qui font l’objet d’une restriction d’accès) peuvent être copiées par les utilisateurs de la plateforme, y compris par des robots collectant et dupliquant ces données ailleurs (par ex. Google). Les fichiers archivés, lorsqu’ils sont rendus accessibles, peuvent être consultés en ligne, téléchargés et utilisés dans le respect du droit d’auteur.</p>
	<p>Conformément à la législation applicable et sous réserve de conditions limitatives, les auteur·e·s disposent d’un droit d’accès, d’un droit de rectification, d’un droit à la limitation, d’un droit d’opposition, d’un droit à l’effacement et d’un droit de recours auprès de l’autorité de contrôle.</p>
	<p>Afin d’exercer leurs droits ou pour toute question relative à la protection de leurs données à caractère personnel, nous les invitons à nous contacter à l’adresse <a href="mailto:dial-admin@uclouvain.be">dial-admin@uclouvain.be</a> en étant le plus précis possible quant à l’objet de leur demande. Nous y répondrons dans les meilleurs délais.</p>
</div>
