<ng-container *ngIf="(site$.value && hasHomeHeaderMetadata); then dsHomeHeader; else dsHomeNews"></ng-container>
<ng-template #dsHomeHeader>
  <div id="home-header-wrapper">
    <ds-text-section [sectionId]="'site'"
                            [textRowSection]="homeHeaderSection"
                            [site]="site$.value"></ds-text-section>
  </div>
</ng-template>

<ng-template #dsHomeNews>
  <ds-home-coar></ds-home-coar>
  <ds-home-news></ds-home-news>
</ng-template>

<!-- CUSTOM BROWSE BY - QUICK AND EASY. TODO :: create a complex and heavy CRIS section ... -->
<div class="container py-4">
    <a class="browse-box btn btn-link col-12 px-3 mb-2 d-flex align-items-center justify-content-start"
       [routerLink]="['/', 'browse', 'byAffiliation']">
        <i class="fa-solid fa-building-columns mr-4"></i>
        <span class="flex-grow-1">{{ 'browse.byAffiliation.title' | translate }}</span>
        <i class="fa fa-chevron-right"></i>
    </a>
    <a class="browse-box btn btn-link col-12 px-3 mb-2 d-flex align-items-center justify-content-start"
       [routerLink]="[searchPath]" [queryParams]="openAccessQueryParam | async">
        <i class="fa-solid fa-unlock-alt mr-4"></i>
        <span class="flex-grow-1">{{ 'browse.byOpenAccess.title' | translate }}</span>
        <i class="fa fa-chevron-right"></i>
    </a>
</div>

<ng-container *ngIf="site$.value">
  <div *ngFor="let sectionComponentRow of ( sectionComponents | async )">
    <div class="container">
      <div class="row">
        <div *ngFor="let sectionComponent of sectionComponentRow" [class]="componentClass(sectionComponent)"
             [ngSwitch]="sectionComponent.componentType">

          <ds-top-section *ngSwitchCase="'top'"
                                 [sectionId]="sectionId"
                                 [topSection]="$any(sectionComponent)"></ds-top-section>

          <ds-browse-section *ngSwitchCase="'browse'"
                                    [sectionId]="sectionId"
                                    [browseSection]="$any(sectionComponent)"></ds-browse-section>

          <ds-search-section *ngSwitchCase="'search'"
                                    [sectionId]="sectionId"
                                    [searchSection]="$any(sectionComponent)"></ds-search-section>

          <ds-facet-section *ngSwitchCase="'facet'"
                                   [sectionId]="sectionId"
                                   [facetSection]="$any(sectionComponent)"></ds-facet-section>

          <ds-counters-section *ngSwitchCase="'counters'"
                                      [sectionId]="sectionId"
                                      [countersSection]="$any(sectionComponent)"></ds-counters-section>

          <ds-text-section *ngSwitchCase="'text-row'"
                                  [sectionId]="sectionId"
                                  [textRowSection]="$any(sectionComponent)"
                                  [site]="$any(sectionComponent).contentType === 'text-metadata' ? site$.value : null"></ds-text-section>

        </div>
      </div>
    </div>
  </div>
</ng-container>

<ds-view-tracker [object]="site$.value"></ds-view-tracker>
<ds-suggestions-popup></ds-suggestions-popup>
