<div class="submission-submit-container" >

    <div class="container-fluid" *ngIf="isNotEmpty('submission.rules.markdown' | translate)">
        <ds-alert [class]="'m-3'"
                  [type]="'alert-warning'"
                  [dismissible]="true"
                  [content]="'submission.rules.markdown' | translate">
        </ds-alert>
    </div>

    <ds-submission-form [collectionId]="collectionId"
                        [sections]="sections"
                        [selfUrl]="selfUrl"
                        [submissionDefinition]="submissionDefinition"
                        [submissionErrors]="submissionErrors"
                        [item]="item"
                        [collectionModifiable]="collectionModifiable"
                        [submissionId]="submissionId"
                        [metadataSecurityConfiguration]="metadataSecurityConfiguration"
                        [entityType]="entityType">
    </ds-submission-form>
</div>
